# Tiendanube
TIENDANUBE_APP_ID=37703
TIENDANUBE_CLIENT_SECRET=
TIENDANUBE_REDIRECT_URI=https://tudominio.com/api/auth/callback

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# App
NEXT_PUBLIC_APP_URL=https://tudominio.com
NEXT_PUBLIC_WIDGET_URL=https://tudominio.com/widget.js
